.no-scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.transition {
  transition: all 0.3s;
}

.no-drag {
  user-drag: none;
  -webkit-user-drag: none;
}

.no-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}