.grid-template {
  width: 70%;
  margin-left: 15%;

  display: grid;
  justify-content: center;
  gap: 32px;
  grid-template-columns: repeat(auto-fit, 190px);
  grid-auto-rows: 130px;

  overflow: visible;
}

.grid-container {
  height: 100%;
  width: 100%;

  padding-block: 3vh;
}
