.grid-template {
  @extend .no-scrollbar;
  height: 100%;
  padding-block: 3vh;

  display: grid;
  justify-content: center;
  gap: 32px;
  grid-template-columns: repeat(auto-fit, 190px);
  grid-auto-rows: 130px;

  overflow-y: scroll;
}

.grid-container {
  height: 100vh;
  width: 70%;
  margin-left: 15%;
}
