* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Play', sans-serif;
}

body {
  background: #fff;
  overflow: hidden;
}

.veil {
  @extend .transition;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: rgb(0 0 0 / 50%);
  opacity: 0;
  pointer-events: none;

  z-index: 1;

  &[data-open='true'] {
    opacity: 1;
  }
}

.settings-icon {
  position: absolute;
  top: 16px;
  left: 16px;
  cursor: pointer;
  filter: invert(100%);
}
